In [50]:
import pandas as pd

Data Preprocessing: Data Collection

In [51]:
df = pd.read_excel(r"D:/Computer/Data Science/Data_Train.xlsx")
df.shape

(10683, 11)

In [52]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [54]:
df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [55]:
df = df.dropna()

In [56]:
df.shape

(10682, 11)

In [57]:
df.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882

In [58]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [59]:
#Date of Journey
df['Date_of_Journey'][0]

'24/03/2019'

In [60]:
df['Date_of_Journey_day'] = pd.to_datetime(df['Date_of_Journey']).dt.day
df['Date_of_Journey_month'] = pd.to_datetime(df['Date_of_Journey']).dt.month
df['Date_of_Journey_year'] = pd.to_datetime(df['Date_of_Journey']).dt.year

C:\Users\david\AppData\Local\Temp\ipykernel_7472\4004931071.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date_of_Journey_day'] = pd.to_datetime(df['Date_of_Journey']).dt.day
C:\Users\david\AppData\Local\Temp\ipykernel_7472\4004931071.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date_of_Journey_month'] = pd.to_datetime(df['Date_of_Journey']).dt.month
C:\Users\david\AppData\Local\Temp\ipykernel_7472\4004931071.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date_of_Journey_year'] = pd.to_datetime(df['Date_of_Journey']).dt.year

In [61]:
df.drop(columns=['Date_of_Journey'], inplace=True)

In [62]:
#Dep TIme
print(df['Dep_Time'].min(), df['Dep_Time'].max())

00:20 23:55

In [63]:
df['Dep_Time_hour'] = pd.to_datetime(df['Dep_Time']).dt.hour
df['Dep_Time_minute'] = pd.to_datetime(df['Dep_Time']).dt.minute

C:\Users\david\AppData\Local\Temp\ipykernel_7472\4216546605.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dep_Time_hour'] = pd.to_datetime(df['Dep_Time']).dt.hour
C:\Users\david\AppData\Local\Temp\ipykernel_7472\4216546605.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dep_Time_minute'] = pd.to_datetime(df['Dep_Time']).dt.minute

In [64]:
df.drop(columns=['Dep_Time'], inplace=True)

In [65]:
#Arrival TIme
print(df['Arrival_Time'].min(), df['Arrival_Time'].max())

00:05 02 Apr 23:55 02 Mar

In [66]:
df['Arrival_Time_hour'] = pd.to_datetime(df['Arrival_Time']).dt.hour
df['Arrival_Time_minute'] = pd.to_datetime(df['Arrival_Time']).dt.minute

C:\Users\david\AppData\Local\Temp\ipykernel_7472\35811685.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Arrival_Time_hour'] = pd.to_datetime(df['Arrival_Time']).dt.hour
C:\Users\david\AppData\Local\Temp\ipykernel_7472\35811685.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Arrival_Time_minute'] = pd.to_datetime(df['Arrival_Time']).dt.minute

In [67]:
df.drop(columns=['Arrival_Time'], inplace=True)

In [68]:
df['Duration'].value_counts()

Duration
2h 50m     550
1h 30m     386
2h 45m     337
2h 55m     337
2h 35m     329
          ...
31h 30m      1
30h 25m      1
42h 5m       1
4h 10m       1
47h 40m      1
Name: count, Length: 368, dtype: int64

In [69]:
#Duration TIme
df['Duration'] = pd.to_timedelta(df['Duration'])

In [70]:
print(df['Duration'].min(), df['Duration'].max())

0 days 00:05:00 1 days 23:40:00

In [71]:
df['Duration_hour'] = df['Duration'].dt.components.hours
df['Duration_minute'] = df['Duration'].dt.components.minutes
df['Duration_day'] = df['Duration'].dt.components.days

In [72]:
df.drop(columns=['Duration'], inplace=True)

In [73]:
#Airline
Airlne = pd.get_dummies(df[['Airline']] , drop_first = True).astype(int)
Airlne

,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy
0,0,0,1,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
10678,0,0,0,0,0,0,0,0,0,0,0
10679,1,0,0,0,0,0,0,0,0,0,0
10680,0,0,0,1,0,0,0,0,0,0,0
10681,0,0,0,0,0,0,0,0,0,1,0
10682,1,0,0,0,0,0,0,0,0,0,0

In [74]:
#Source
Source = pd.get_dummies(df[['Source']],drop_first=True).astype(int)
Source

       Source_Chennai  Source_Delhi  Source_Kolkata  Source_Mumbai
0                   0             0               0              0
1                   0             0               1              0
2                   0             1               0              0
3                   0             0               1              0
4                   0             0               0              0
...               ...           ...             ...            ...
10678               0             0               1              0
10679               0             0               1              0
10680               0             0               0              0
10681               0             0               0              0
10682               0             1               0              0

[10682 rows x 4 columns]

In [75]:
#Destination
Destination = pd.get_dummies(df[['Destination']],drop_first=True).astype(int)
Destination

,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,0,0,0,1
1,0,0,0,0,0
2,1,0,0,0,0
3,0,0,0,0,0
4,0,0,0,0,1
...,...,...,...,...,...
10678,0,0,0,0,0
10679,0,0,0,0,0
10680,0,1,0,0,0
10681,0,0,0,0,1
10682,1,0,0,0,0

In [76]:
df= df.drop(['Route','Additional_Info'],axis='columns')
df

,Airline,Source,Destination,Total_Stops,Price,Date_of_Journey_day,Date_of_Journey_month,Date_of_Journey_year,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_hour,Duration_minute,Duration_day
0,IndiGo,Banglore,New Delhi,non-stop,3897,24,3,2019,22,20,1,10,2,50,0
1,Air India,Kolkata,Banglore,2 stops,7662,1,5,2019,5,50,13,15,7,25,0
2,Jet Airways,Delhi,Cochin,2 stops,13882,9,6,2019,9,25,4,25,19,0,0
3,IndiGo,Kolkata,Banglore,1 stop,6218,12,5,2019,18,5,23,30,5,25,0
4,IndiGo,Banglore,New Delhi,1 stop,13302,1,3,2019,16,50,21,35,4,45,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,non-stop,4107,9,4,2019,19,55,22,25,2,30,0
10679,Air India,Kolkata,Banglore,non-stop,4145,27,4,2019,20,45,23,20,2,35,0
10680,Jet Airways,Banglore,Delhi,non-stop,7229,27,4,2019,8,20,11,20,3,0,0
10681,Vistara,Banglore,New Delhi,non-stop,12648,1,3,2019,11,30,14,10,2,40,0
10682,Air India,Delhi,Cochin,2 stops,11753,9,5,2019,10,55,19,15,8,20,0

In [77]:
df['Total_Stops'].value_counts()

Total_Stops
1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: count, dtype: int64

In [78]:
df['Total_Stops'] = df['Total_Stops'].replace({"1 stop":1,"non-stop":0,"2 stops":2,"3 stops":3, "4 stops":4})

C:\Users\david\AppData\Local\Temp\ipykernel_7472\2357763615.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Total_Stops'] = df['Total_Stops'].replace({"1 stop":1,"non-stop":0,"2 stops":2,"3 stops":3, "4 stops":4})

In [79]:
df['Total_Stops'].value_counts()

Total_Stops
1    5625
0    3491
2    1520
3      45
4       1
Name: count, dtype: int64

In [80]:
df = df.drop(['Airline','Source','Destination'],axis='columns')
df

,Total_Stops,Price,Date_of_Journey_day,Date_of_Journey_month,Date_of_Journey_year,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_hour,Duration_minute,Duration_day
0,0,3897,24,3,2019,22,20,1,10,2,50,0
1,2,7662,1,5,2019,5,50,13,15,7,25,0
2,2,13882,9,6,2019,9,25,4,25,19,0,0
3,1,6218,12,5,2019,18,5,23,30,5,25,0
4,1,13302,1,3,2019,16,50,21,35,4,45,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0,4107,9,4,2019,19,55,22,25,2,30,0
10679,0,4145,27,4,2019,20,45,23,20,2,35,0
10680,0,7229,27,4,2019,8,20,11,20,3,0,0
10681,0,12648,1,3,2019,11,30,14,10,2,40,0
10682,2,11753,9,5,2019,10,55,19,15,8,20,0

In [81]:
df = pd.concat([df, Airlne, Destination, Source], axis= 1)

In [82]:
df.head(3)

,Total_Stops,Price,Date_of_Journey_day,Date_of_Journey_month,Date_of_Journey_year,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_hour,...,Airline_Vistara Premium economy,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai
0,0,3897,24,3,2019,22,20,1,10,2,...,0,0,0,0,0,1,0,0,0,0
1,2,7662,1,5,2019,5,50,13,15,7,...,0,0,0,0,0,0,0,0,1,0
2,2,13882,9,6,2019,9,25,4,25,19,...,0,1,0,0,0,0,0,1,0,0

In [83]:
df.columns

Index(['Total_Stops', 'Price', 'Date_of_Journey_day', 'Date_of_Journey_month',
       'Date_of_Journey_year', 'Dep_Time_hour', 'Dep_Time_minute',
       'Arrival_Time_hour', 'Arrival_Time_minute', 'Duration_hour',
       'Duration_minute', 'Duration_day', 'Airline_Air India', 'Airline_GoAir',
       'Airline_IndiGo', 'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Destination_Cochin', 'Destination_Delhi', 'Destination_Hyderabad',
       'Destination_Kolkata', 'Destination_New Delhi', 'Source_Chennai',
       'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai'],
      dtype='object')

In [84]:
target = df['Price']
target

0         3897
1         7662
2        13882
3         6218
4        13302
         ...
10678     4107
10679     4145
10680     7229
10681    12648
10682    11753
Name: Price, Length: 10682, dtype: int64

In [85]:
df.drop(columns=['Price'], inplace=True)

In [86]:
df.head(3)

,Total_Stops,Date_of_Journey_day,Date_of_Journey_month,Date_of_Journey_year,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_hour,Duration_minute,...,Airline_Vistara Premium economy,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai
0,0,24,3,2019,22,20,1,10,2,50,...,0,0,0,0,0,1,0,0,0,0
1,2,1,5,2019,5,50,13,15,7,25,...,0,0,0,0,0,0,0,0,1,0
2,2,9,6,2019,9,25,4,25,19,0,...,0,1,0,0,0,0,0,1,0,0

In [87]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train, y_test = train_test_split(df,target, test_size=0.1, shuffle=True)

In [88]:
X_train.head(3)

,Total_Stops,Date_of_Journey_day,Date_of_Journey_month,Date_of_Journey_year,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_hour,Duration_minute,...,Airline_Vistara Premium economy,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai
5405,1,24,5,2019,8,25,18,15,9,50,...,0,0,0,0,0,0,0,0,1,0
2717,0,1,4,2019,21,10,0,5,2,55,...,0,0,1,0,0,0,0,0,0,0
8321,0,9,3,2019,19,35,21,55,2,20,...,0,0,0,0,1,0,1,0,0,0

In [89]:
y_train.head(3)

5405    10844
2717     3625
8321     6297
Name: Price, dtype: int64

In [98]:
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV,cross_val_score


clf = {
    
    "extrtreeg":{
        "model": ExtraTreesRegressor(),
        "params":{ 

  "n_estimators": [100, 200],
  "max_depth": [10, 20],
  "min_samples_split": [2, 5],
  "min_samples_leaf": [1, 2],
  "max_features": ["sqrt", "log2"],
  "bootstrap": [True]

    }
    },
    
    "RandmForest":{
        "model":RandomForestRegressor(),
        "params":{  
            
  "n_estimators": [100, 200],
  "max_depth": [10, 20],
  "min_samples_split": [2, 5],
  "min_samples_leaf": [1, 2],
  "max_features": ["sqrt", "log2"],
  "bootstrap": [True]
}
    },
    
    "LinReg":{
        "model":LinearRegression(),
        "params":{
  "fit_intercept": [True, False],
  "copy_X": [True],
  "positive": [False, True]
        }
    }
}

In [99]:
clf.get("LinReg")

{'model': LinearRegression(),
 'params': {'fit_intercept': [True, False],
  'copy_X': [True],
  'positive': [False, True]}}

In [102]:
scores = []
for model_name, modell in clf.items():
    print("Model Name:", model_name)
    gsc = GridSearchCV(modell['model'],modell['params'],cv=5)
    gsc.fit(X_train,y_train)
    print("Completed Fit")
    scoreb= gsc.score(X_test,y_test)
    cvs = cross_val_score(modell['model'],X_train,y_train)
    scores.append({
        "model_nam":model_name,
        "cross_val_sc": cvs,
        "score":scoreb
    })

Model Name: extrtreeg
Completed Fit
Model Name: RandmForest
Completed Fit
Model Name: LinReg
Completed Fit

c:\Users\david\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:547: FitFailedWarning:
6 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\david\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\david\anaconda3\Lib\site-packages\sklearn\base.py", line 1474, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\david\anaconda3\Lib\site-packages\sklearn\linear_model\_base.py", line 611, in fit
    self.coef_ = optimize.nnls(X, y)[0]
                 ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\david\anaconda3\Lib\site-packages\scipy\optimize\_nnls.py", line 93, in nnls
    raise RuntimeError("Maximum number of iterations reached.")
RuntimeError: Maximum number of iterations reached.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\david\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\david\anaconda3\Lib\site-packages\sklearn\base.py", line 1474, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\david\anaconda3\Lib\site-packages\sklearn\linear_model\_base.py", line 611, in fit
    self.coef_ = optimize.nnls(X, y)[0]
                 ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\david\anaconda3\Lib\site-packages\scipy\optimize\_nnls.py", line 91, in nnls
    x, rnorm, mode = _nnls(A, b, maxiter, tol=atol)
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\david\anaconda3\Lib\site-packages\scipy\optimize\_nnls.py", line 137, in _nnls
    s[P] = solve(AtA[np.ix_(P, P)], Atb[P], assume_a='sym', check_finite=False)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\david\anaconda3\Lib\site-packages\scipy\linalg\_basic.py", line 244, in solve
    _solve_check(n, info)
  File "c:\Users\david\anaconda3\Lib\site-packages\scipy\linalg\_basic.py", line 41, in _solve_check
    raise LinAlgError('Matrix is singular.')
numpy.linalg.LinAlgError: Matrix is singular.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\david\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:1051: UserWarning: One or more of the test scores are non-finite: [0.62296798        nan 0.62296798        nan]
  warnings.warn(

In [104]:
scores

[{'model_nam': 'extrtreeg',
  'cross_val_sc': array([0.808793  , 0.75675667, 0.77749525, 0.76176964, 0.80117028]),
  'score': 0.7749089450481441},
 {'model_nam': 'RandmForest',
  'cross_val_sc': array([0.80601669, 0.80726246, 0.81511762, 0.79799163, 0.8161894 ]),
  'score': 0.792077361178527},
 {'model_nam': 'LinReg',
  'cross_val_sc': array([0.66201818, 0.60554433, 0.63561442, 0.60936706, 0.6022959 ]),
  'score': 0.5753634569497219}]

In [109]:
clf = {
    
    "RandmForest":{
        "model":RandomForestRegressor(),
        "params":{  
            
  "n_estimators": [100, 200],
  "max_depth": [10, 20],
  "min_samples_split": [2, 5],
  "min_samples_leaf": [1, 2],
  "max_features": ["sqrt", "log2"],
  "bootstrap": [True]
}
    }
}

In [110]:
scores = []
for model_name, modell in clf.items():
    print("Model Name:", model_name)
    gsc = GridSearchCV(modell['model'],modell['params'],cv=5)
    gsc.fit(X_train,y_train)
    print("Completed Fit")
    scoreb= gsc.score(X_test,y_test)
    cvs = cross_val_score(modell['model'],X_train,y_train)
    scores.append({
        "model_nam":model_name,
        "cross_val_sc": cvs,
        "score":scoreb
    })

Model Name: RandmForest
Completed Fit

In [111]:
gsc.best_score_

0.8021196388354737

In [112]:
gsc.best_params_

{'bootstrap': True,
 'max_depth': 20,
 'max_features': 'sqrt',
 'min_samples_leaf': 1,
 'min_samples_split': 5,
 'n_estimators': 100}

In [113]:
rf = RandomForestRegressor(
bootstrap = True,
max_depth= 20,
max_features= 'sqrt',
min_samples_leaf= 1,
min_samples_split= 5,
n_estimators= 100
)

In [114]:
rf.fit(X_train,y_train)

RandomForestRegressor(max_depth=20, max_features='sqrt', min_samples_split=5)

In [115]:
rf.score(X_test,y_test)

0.7916032869367128

In [120]:
y_predict = rf.predict(X_test)

In [121]:
y_predict

array([10717.18305634,  6748.61283333,  3063.36804762, ...,
        6158.59188997,  6148.52439286,  6832.39422149])

In [122]:
y_predict = pd.DataFrame(y_predict, columns=['Price'])
y_predict

             Price
0     10717.183056
1      6748.612833
2      3063.368048
3      3084.807857
4      9825.351163
...            ...
1064   4817.193096
1065  13514.175770
1066   6158.591890
1067   6148.524393
1068   6832.394221

[1069 rows x 1 columns]

In [123]:
y_test

8640     10441
10374     6961
3713      3625
654       2754
7448      9064
         ...
3480      4804
2010     13555
7207      4030
7818      7082
9723      8330
Name: Price, Length: 1069, dtype: int64

In [125]:
Output = pd.concat([X_test, y_predict],axis='columns')

In [126]:
Output.columns

Index(['Total_Stops', 'Date_of_Journey_day', 'Date_of_Journey_month',
       'Date_of_Journey_year', 'Dep_Time_hour', 'Dep_Time_minute',
       'Arrival_Time_hour', 'Arrival_Time_minute', 'Duration_hour',
       'Duration_minute', 'Duration_day', 'Airline_Air India', 'Airline_GoAir',
       'Airline_IndiGo', 'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Destination_Cochin', 'Destination_Delhi', 'Destination_Hyderabad',
       'Destination_Kolkata', 'Destination_New Delhi', 'Source_Chennai',
       'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai', 'Price'],
      dtype='object')

In [127]:
Output.to_excel('Flight_Ticket_Output.xlsx', index=False)